/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container Styles */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

/* Header Styles */
h2 {
    text-align: center;
    color: #333;
}

/* Label Styles */
label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

/* Input and Textarea Styles */
input, textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Submit Button Styles */
input[type="submit"] {
    background-color: #65040e;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #5A030C;
}

/* Centering Styles */
#center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Switch Toggle Styles */
.switch-toggle {
    width: 10em;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

.switch-toggle label {
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
}

/* Switch Toggle Input (Hidden) */
.switch-toggle input {
    display: none;
}

/* Switch Toggle Checked State */
.switch-toggle input:checked + label {
    background-color: #4CAF50;
    color: white;
}

/* Disabled State for Switch */
.switch-toggle .disabled {
    background-color: lightgray;
}

/* Switch Toggle Label (Non-disabled) */
.switch-toggle label:not(.disabled) {
    cursor: pointer;
}
